/* Sivujen yläosa */
header {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

/* Sivun body */
body {
    background-color:  #1e1e1e;
}

main {
    background-image: url("../kuvat/etusivu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
}

/* sivun alaosa */
footer {
    background-color: #f1c40f;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 2em;
    color: black;
}

/* Sivujen osien paikat */
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: black;
    padding: 15px 20px;
    justify-content: center;
    align-content: center;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover animaatio ylävalikon napeissa */
.nav li a:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Korostaa ylävalikon napit kun cursori on päällä */
.nav li a.active {
    background: #f1c40f;
    color: #111;
}


h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 1.25em;
}

/* Kuvien tyylit joilla ei id */
img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

/* Taksifela header logon koko */
#logo {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

#pnumero {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

/* Etusivun kuvien/linkkien tyylit */
.kuva:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Korostaa kuvien/linkkien napit kun cursori on päällä */
.kuva.active {
    background: #f1c40f;
    color: #111;
}

.kuva1:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

.kuva1.active {
    background: #f1c40f;
    color: #111;
}


.kuva {
    width: 100%;
    padding: 10px; 
    background-color: #1e1e1e00;
    margin: 5x;
    float: left;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25em;
}

.kuva1 {
    justify-content: right;
    text-align: right;
    width: 100%;
    padding: 10px; 
    background-color: #1e1e1e00;
    margin: 5x;
    float: right;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25em;
}

/* Kaikki label kohdat eli laatikot johon voi täyttää tietoja  */
label {
  display: block;
  margin-bottom: 6px;
  color: #ccc;
}

/* täs o iha pähee chrome värikoodi: 
background: linear-gradient(
  135deg,
  #f2f2f2,
  #cfcfcf,
  #9e9e9e,
  #e6e6e6
);

*/