@keyframes slide {
   from {top: 300px;opacity: 0%;}
   to {top:0px;opacity: 100%;}
}

/* Sivujen yläosa */
header {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

/* Sivun body */
body {
    background-color:  #1e1e1e;
}

main {
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* sivun alaosa */
footer {
    background-color: #dbb311;
    text-align: center;
    padding: 50px;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-top: 40px;
}

/* Footerin admin linkki */
#admin {
    color: black;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.5em;
}

/* Taksifela header logojen tyyli */
#logo {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;

    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#logo:hover {
    width: 325px;
    height: 125px;
}


#pnumero {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;

    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#pnumero:hover {
    width: 325px;
    height: 125px;
}

/* Sivujen osien paikat */
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: black;
    padding: 15px 20px;
    justify-content: center;
    align-content: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover animaatio ylävalikon napeissa */
.nav a:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Korostaa ylävalikon napit kun cursori on päällä */
.nav a.active {
    background: #f1c40f;
    color: #111;
}

.nav .icon {
  display: none;
}

/*centeraa buttonit classilla*/
.buttonit {
  text-align: center;
  align-content: center;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: slide;
  animation-direction: normal;
  position: relative;
}

/* buttonien tyylit / asetukset */
button {
    color: #f1c40f;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
  
/* Etusivun buttonin/linkkien tyylit */
button:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}
/* Korostaa buttonin/linkkien napit kun cursori on päällä */
button.active {
    background: #f1c40f;
    color: #111;
}

/* Hintataulukon tyyli */
table {
  width: 40%;
  height: 55%;
  background: #1e1e1e;
  border-collapse: collapse; 
  margin-bottom: auto;  
  margin-right: auto;
  margin-left: auto;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: slide;
  animation-direction: normal;
  position: relative;
}

.lisamaksu {
  padding: 5px;
}

/* Tilausohjeet lista */
.ohjeet {
    color: white;
    text-align: center;
    list-style-position: inside; 
    justify-items: center;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
    
}

td, th {
  border: 2px solid #f1c40f;
  padding: 10px;
  text-align: left;
  color: white;
}

h1 {
    color: #f1c40f;
    text-align: center;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
    position: relative;
}

h2 {
    color: #f1c40f;
    text-align: center;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
    position: relative;
}

li {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: slide;
  animation-direction: normal;
  position: relative;
}

p {
    color: white;
    text-align: center;
    font-size: 1.25em;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
    position: relative;
}

/* Kaikki label kohdat eli laatikot johon voi täyttää tietoja  */
label {
  display: block;
  margin-bottom: 6px;
  color: #ccc;
}

/* Navin mobiiliresponsiivisuus */
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}