@keyframes slide {
   from {top: 300px;opacity: 0%;}
   to {top:0px;opacity: 100%;}
}

/* Sivujen yläosa */
header {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

body {
    background-color: #111;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 75%;
}

main {
    /*
    background-image: url("../kuvat/kela.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    */
    width: 100%;
    height: 750px;
    color: black;
    font-weight: bold;
}



section {
    background-color: #1e1e1e;
    border-color: #f1c40f;
    border-top-style: double;
}

/* sivun alaosa */
footer {
    background-color: #dbb311;
    text-align: center;
    padding: 50px;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

/* Footerin admin linkki */
#admin {
    color: black;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.5em;
}

/* Taksifela header logon koko */
#logo {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

#pnumero {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

/* Sivujen osien paikat */
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: black;
    padding: 15px 20px;
    justify-content: center;
    align-content: center;
}

.nav a {
    text-decoration: bold;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover animaatio ylävalikon napeissa */
.nav a:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Korostaa ylävalikon napit kun cursori on päällä */
.nav a.active {
    background: #f1c40f;
    color: #111;
}

.nav .icon {
  display: none;
}

/*centeraa buttonit classilla*/
.buttonit {
  text-align: center;
  align-content: center;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: slide;
  animation-direction: normal;
  position: relative;
  padding: 15px;
}

/* buttonien tyylit / asetukset */
button {
    color: #f1c40f;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

/* Etusivun buttonin/linkkien tyylit */
button:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}
/* Korostaa buttonin/linkkien napit kun cursori on päällä */
button.active {
    background: #f1c40f;
    color: #111;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
    position: relative;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.25em;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: slide;
    animation-direction: normal;
    position: relative;
}

/* Kelataksi sivun listan tyyli */
.kela {
    color: white;
}

/* Navin mobiiliresponsiivisuus */
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}