/* Sivujen yläosa */
header {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

/* Sivun body */
body {
    background-color:  #1e1e1e;
}

main {
    background-image: url("../kuvat/kela.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 750px;
    color: black;
    font-weight: bold;
}

/*
mark {
    color: black;
    background-color: yellow;
    font-weight: bold;
    opacity: 75%;
    padding-top: 0.5px;
    border-radius: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
/*

/* sivun alaosa */
footer {
    background-color: #f1c40f;
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 2em;
    color: black
}

/* Taksifela header logon koko */
#logo {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

#pnumero {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

/* Sivujen osien paikat */
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: black;
    padding: 15px 20px;
    justify-content: center;
    align-content: center;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover animaatio ylävalikon napeissa */
.nav li a:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Korostaa ylävalikon napit kun cursori on päällä */
.nav li a.active {
    background: #f1c40f;
    color: #111;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.25em;
}

/* Kelataksi sivun listan tyyli */
.kela {
    color: white;
}


/* täs o iha pähee chrome värikoodi: 
background: linear-gradient(
  135deg,
  #f2f2f2,
  #cfcfcf,
  #9e9e9e,
  #e6e6e6
);

*/