header {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

body {
    background-color:  #1e1e1e;
}

img {
    width: 100%s;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: black;
    padding: 15px 20px;
    border-radius: 8px;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover-efekti */
.nav li a:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Valittu sivu – jos haluat korostuksen */
.nav li a.active {
    background: #f1c40f;
    color: #111;
}


table {
  width: 100%;
  background: #f1c40f;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: left;
}

td {
    color: black;
}

h1, p {
    color: white;
}

img {
    width: 300px;
    height: 300px;
}

/* Etusivun kuvan/linkin tyyli */

.kuva:hover {
    box-shadow: 0 0 11px rgba(143, 16, 16, 0.2);
}

.kuva {
    width: 95%;
    padding: 5px;
    background-color: var(--uutinenbg);
    margin: 5x;
    float: left;
}

/* täs o iha pähee chrome värikoodi: 
background: linear-gradient(
  135deg,
  #f2f2f2,
  #cfcfcf,
  #9e9e9e,
  #e6e6e6
);
/*