/* Sivujen yläosa */
header {
    background-color: black;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

/* Sivun body */
body {
    background-color:  #1e1e1e;
}

/* sivun alaosa */
footer {
    background-color: #f1c40f;
    text-align: center;
    padding: 50px;
    position: relative;
    font-weight: bold;
    font-size: 2em;
    color: black;
}

/* Footerin admin linkki */
#admin {
    color: black;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.5em;
}

/* Taksifela header logon koko */
#logo {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

#pnumero {
    width: 300px;
    height: 100px;
    margin-top: 30px;
    border-radius: 30px;
}

/* Sivujen osien paikat */
.site {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    background: black;
    padding: 15px 20px;
    justify-content: center;
    align-content: center;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s ease;
}

/* Hover animaatio ylävalikon napeissa */
.nav li a:hover {
    background: #f1c40f;
    color: #111;
    transform: translateY(-2px);
}

/* Korostaa ylävalikon napit kun cursori on päällä */
.nav li a.active {
    background: #f1c40f;
    color: #111;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: 1.25em;
}

/* Ota yhteyttä sivun formi */
form {
    color: white;
    justify-content: center;
    text-align: center;
}

/* Kaikki label kohdat eli laatikot johon voi täyttää tietoja  */
label {
  display: block;
  margin-bottom: 6px;
  color: #ccc;
}

/* täs o iha pähee chrome värikoodi: 
background: linear-gradient(
  135deg,
  #f2f2f2,
  #cfcfcf,
  #9e9e9e,
  #e6e6e6
);

*/